<%- include("../../Back2/views/header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %></h1>
  </div>


<div class="box">

  <% newListItem.forEach(function(item) {%>
    <form action="back-end2/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
        <p> <%= item.name %> </p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
  <% }) %>

  <form action="/back-end2" method="post" class="item">
    <input type="text" name="newItem" placeholder="NextToDo" autocomplete="off">
    <button type="submit" name="list" value="<%=listTitle%>" >+</button>
  </form>

</div>


  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

<%- include("../../Back2/views/footer") -%>
